.orderbook {
  /* width: 600px; */
}

.orderbook-container {
  display: flex;
  gap: 24px;
}

.orderbook-segment {
  flex-basis: 30%;
  border: 1px solid grey;
  padding: 16px;
}


.orderbook-entry, .orderbook-entries-header {
  display: flex;
  justify-content: flex-end;
}

.orderbook-entries.reversed .orderbook-entry,
.orderbook-entries.reversed .orderbook-entries-header {
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.orderbook-entries-header {
  font-size: large;
  font-weight: bold;
}

.orderbook-entry span, .orderbook-entries-header span {
  flex-basis: 20%;
  text-align: right;
}

.orderbook-entry span:first-child, .orderbook-entries-header span:first-child {
  text-align: center;
}

.orderbook-entries.reversed .orderbook-entry span:last-child,
.orderbook-entries.reversed .orderbook-entries-header span:last-child {
  text-align: left;
}